<div class="row">
	<div class="small-2 large-12 columns">
		<div class="large-12 columns panel callout radius">
			<h1>Affordable housing wait lists</h1>
			<h4 class="subheader">Families have to wait for months or years on lists for affordable housing in San Francisco. This is a resource to help them keep track of what is going on.</h4>
			<!-- <h3>Show all users</h3> -->
			<span><%= link_to 'Parents', parents_path, :class => 'btn btn-primary' %></span>
			<span><%= link_to 'Wait list', residences_path, :class => 'btn btn-primary' %></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-8 columns">
		<span class"span9">
			<h2>All families</h2>
			<%= render(:partial => 'allfamilies', :collection => @parents, :as => :parents || 'There are no families on wait lists' ) %>
		</span>
	</div>
</div>